@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

.video {
position: center;
  width: 100%; /* O vídeo ocupará 100% da largura do contêiner */
  padding-bottom: 100%; /* Mantém a proporção 16:9 */
  height: 0;
  overflow: hidden;
}

.video > iframe {
    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 315px;
    background-color: #2A4329;
    
}

header {
  background-color: rgba(75, 28, 61, 0.432);
            background-image: linear-gradient(to bottom,#6EE15D, #335232);
   width: 100%;
   height: 100%;
   text-align: center;
   padding: 8px;
   margin: -8px;
   font-family: 'Zain', sans-serif;
   font-weight: bolder;
   font-size: 16px;
   
}

header > h1 {
    font-family: "Alumni Sans Pinstripe", serif , sans-serif;
    font-size: 2em; 
    margin: 0px;
    color: white;
}

body {
  background-color: #6bd85a85;
}

header > .home {
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-bottom: 0px;
  font-family: "Zain", sans-serif;
}

main {
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.432);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-weight: bold;
  height: 2400px;
  text-align: justify;
}

picture {
  display: flex; /* Ativa o flexbox */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 60vh; /* Altura da tela */
  margin: 0; /* Remove margens padrão */;
    }

main > p {
  text-indent: 10px;
}

main > h1 {
  font-family:"idroid", sans-serif;
  color: green;
  padding-left: 8px;
  font-size: 30px
}

main > h2 {
  font-family: "idroid", sans-serif;
  color: green;
  padding-left: 8px;
  background-image: linear-gradient(to right,#7fdf70, #ffffff);
  margin-left: 10px;
}  
    #mais {
      background-color: #579c4c;
      color: white;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      margin-bottom: 5px;
      border-radius: 5px;
      font-size: 20px;
    }

    .home {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 10px;
      font-weight: normal;
    }
    
    footer {
      background-color: #2A4329;
      text-align: center;
      font-family: "Zain";
      color: white;
    }

    p > a {
      color: rgb(91, 168, 97);
      font-family: 'Zain';
      font-size: 22px;
      text-decoration: none;
    }
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .home:hover {
      background-color: rgba(13, 124, 13, 0.438)
      ;
    }