@charset "UTF-8";

/*aparelho em pé*/

body{
    background: url(../imagens/cev-portrait.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #233eff;
}
